@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap');

:root {
  --max-width: 1000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

header {
  position: relative;
  height: 100vh;
}

/* Navbar */
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul,
nav ul li {
  display: inline-block;
  color: #fff;
}

nav ul li:not(:last-child) {
  padding-right: 2rem;
}

/* Slideshow */
.slideshow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -100;
}

.slideshow .slides h1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}
