@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap');

:root {
  --max-width: 1000px;
  --primary-color: #f4a261;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mt-6 {
  margin-top: 6rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-5 {
  padding-top: 5rem;
}
.pt-6 {
  padding-top: 6rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1,
button {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

p {
  color: #777;
  line-height: 1.5;
}

ul {
  list-style: none;
}

.container {
  max-width: var(--max-width);
  margin: auto;
}

header {
  position: relative;
  height: 100vh;
}

/* Navbar */
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul,
nav ul li {
  display: inline-block;
  color: #fff;
}

nav ul li:not(:last-child) {
  padding-right: 2rem;
}

/* Slideshow */
.slideshow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -100;
}

.slideshow .slides h1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* Sign Up button */
.cta-btn {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* About */
.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.about .container span {
  color: var(--primary-color);
}

/* Menu */
.menu .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.menu .container span {
  color: var(--primary-color);
}

.menu .container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .container ul li:not(:last-child) {
  padding-right: 2rem;
}

.menu .container li a {
  cursor: pointer;
  color: #777;
}

.active {
  color: #000 !important;
}

/* Menu Grid */
.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.grid-container .menu img {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.menu a:hover img {
  opacity: 0.3;
}
